/* App.css */

/* 从HTML头部复制的内联样式 */
.formError .formErrorArrow div {
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
}

.formError .formErrorContent {
  font-size: 14px !important;
  border: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  font-family: sans-serif;
}

.swpm-registration-submit {
  padding: 12px 24px !important;
}

#swpm-registration-form table {
  border: none;
}

.swpm-registration-submit-section {
  text-align: left;
  margin-top: 20px;
}

#swpm-registration-form input[type="file"] {
  font-size: 0.8em;
}

.file-upload-wrapper {
  background-color: white;
  border: 1px solid #e0e0e5;
  width: 95%;
  padding: 0.375rem 1.25rem;
  border-radius: 0.25rem;
}

#g-page-surround .platform-content .entries .g-block .tease {
  margin-bottom: 60px;
}

select {
  background-color: white;
  vertical-align: middle;
  border: 1px solid #e0e0e5;
  font-size: 1.3rem;
  width: 100%;
  line-height: 1.75;
  padding: 0.65rem 1.25rem;
  transition: border-color 0.2s;
}

button,
input[type="submit"] {
  padding: 0.5rem 2rem;
  background-color: #D70202;
  color: white;
  line-height: inherit;
}

button.wpcf7cf_add,
button.wpcf7cf_remove {
  background-color: #333333;
}

div.wpcf7 .wpcf7-submit:disabled {
  background-color: #c8c8c8;
}

.conference-cta img.size-mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .conference-cta img.size-full {
    display: none;
  }

  .conference-cta img.size-mobile {
    display: block;
  }
}

#g-navigation .g-social {
  font-size: 1.25em;
}

#icon-s-Taiwan-logo {
  width: 140px;
}

@media only screen and (max-width: 800px) {
  #icon-s-Taiwan-logo {
    width: 120px;
  }

  #g-features a {
    width: 100%;
    text-align: center;
  }

  #g-mainbar {
    padding: 0;
  }

  #g-navigation .g-grid {
    flex-flow: nowrap;
  }

  .icon-s-logo .g-content {
    margin-left: -24px;
    padding-left: 0;
  }

  .g-offcanvas-toggle {
    top: unset;
    right: 14px;
    left: auto;
    margin-top: 22px;
  }

  #g-navigation .g-social-header .g-content {
    margin-right: 50px;
  }
}

.tm_timeline.tm_timeline-layout-vertical .tm_timeline__container {
  margin-left: 0;
}

.tm_timeline__event__date {
  font-size: inherit;
  color: #D70202;
}

.tm_timeline__event__title,
.tm_timeline__event__description {
  font-size: inherit;
}

.sponsoren {
  text-align: center;
}

.sponsoren img {
  border: 1px solid #E0E0E5;
  max-width: 260px;
}

body {
  background-image: url(https://www.icon-society.at/media/2024/05/bg-red-e1678040587625.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#g-page-surround,
#g-footer {
  background: transparent;
}

.grid-modal-style.style-1 figcaption::before {
  background: #d70202;
}

.modal-style.style-1 figcaption {
  background: #d70202a6;
}

.awsm-modal-items.style-1 {
  background: #d7020266;
}

.svg-inline--fa {
  margin-right: 6px;
}

.g-social .svg-inline--fa {
  margin-right: 0px;
  height: 1.8rem;
  width: 1.8rem;
}

.button {
  border-radius: 0;
  padding: 0.75rem 2.725rem
}

.button.button-xsmall {
  font-size: 0.75rem;
  padding: 0.75rem 2.725rem;
}

.awsm-table-row.awsm-table-head {
  display: none;
}

.awsm-modal-content {
  overflow: auto;
}

.mailerlite-subscribe-submit {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #d70202;
  color: #ffffff;
  border: 1px solid transparent;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-shadow: none;
  transition: all 0.2s;
  border-radius: 0;
  padding: 0.75rem 2.725rem;
}

.mailerlite-form .mailerlite-subscribe-button-container {
  text-align: left;
}

.mailerlite-form-response {
  margin-top: 20px;
  text-align: left;
  color: #000;
}

@media only all and (max-width: 47.99rem) {
  .g-logo img,
  .g-logo svg {
    margin: 0 auto;
    max-width: 256px;
  }
}

.g-content-array .g-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.g-content-array .g-block {
  flex: 1 1 calc(50% - 20px); /* 每个块占据50%的宽度，并留出间隙 */
}

/* 额外的CSS引入 */
@font-face {
  font-family: 'Raleway Bold';
  src: url('fonts/raleway/raleway-bold/raleway-bold-webfont.woff2') format('woff2'),
       url('fonts/raleway/raleway-bold/raleway-bold-webfont.woff') format('woff'),
       url('fonts/raleway/raleway-bold/raleway-bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway Black';
  src: url('fonts/raleway/raleway-black/raleway-black-webfont.woff2') format('woff2'),
       url('fonts/raleway/raleway-black/raleway-black-webfont.woff') format('woff'),
       url('fonts/raleway/raleway-black/raleway-black-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway Regular';
  src: url('fonts/raleway/raleway-regular/raleway-regular-webfont.woff2') format('woff2'),
       url('fonts/raleway/raleway-regular/raleway-regular-webfont.woff') format('woff'),
       url('fonts/raleway/raleway-regular/raleway-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  src: url('webfonts/fa-regular-400.woff2') format('woff2'),
       url('webfonts/fa-regular-400.woff') format('woff'),
       url('webfonts/fa-regular-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  src: url('webfonts/fa-brands-400.woff2') format('woff2'),
       url('webfonts/fa-brands-400.woff') format('woff'),
       url('webfonts/fa-brands-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  src: url('webfonts/fa-solid-900.woff2') format('woff2'),
       url('webfonts/fa-solid-900.woff') format('woff'),
       url('webfonts/fa-solid-900.ttf') format('truetype');
}